# _*_ coding: utf-8 _*_
allure-pytest==2.8.24
allure-python-commons==2.8.24
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.4
idna==2.9
iniconfig==1.1.1
lxml==4.5.1
# packaging==20.4
# Pillow==8.0.1
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
pytest-rerunfailures==9.1.1
# pytest-xdist
requests==2.23.0
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.25.9

PyYAML~=5.3.1
PyMySQL~=1.0.2
switch~=1.1.0
Flask~=1.1.2